.cursor {
  display: inline-block;
  width: 3px;               
  height: 1em;
  background-color: currentColor;
  margin-left: 5px;
  vertical-align: -0.15em;
  border-radius: 2px;       
  animation: blink 1.2s ease-in-out infinite;
}

@keyframes blink {
  0%   { opacity: 1; }
  40%  { opacity: 0; }
  60%  { opacity: 0; }
  100% { opacity: 1; }
}

.cursor.typing {
  animation: none;
  opacity: 1;
}

body .cursor {
  transition: opacity 0.2s ease;
}
