---
layout: default

---

{{ content }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "İletişim",
  "url": "https://teomanbas.com/contact/",
  "description": "Teoman Bas ile iletişime geçmek için e-posta ve sosyal bağlantılar.",
  "about": {
    "@type": "Person",
    "name": "Teoman Bas"
  }
  "mainEntity": {
  "@type": "ContactPoint",
  "contactType": "technical support",
  "email": "teomanbas@protonmail.com"
}
}
</script>
