---
layout: default
---

{{ content }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "Projeler",
  "url": "https://teomanbas.com/projects/",
  "description": "Teoman Bas tarafından geliştirilen backend, Linux ve sistem tasarımı odaklı projeler.",
  "about": {
    "@type": "Person",
    "name": "Teoman Bas"
  }
}
</script>

 <!-- Projects CSS -->
  <link
    rel="stylesheet"
    href="{{ '/assets/css/projects.css' | relative_url }}"
  >