---
layout: blog
title: "Sabitlenmiş Postlar"
permalink: /blog/pinned/
---

{% include blog_home_sections.html %}

{% assign limit = 999 %}


<!-- SABİTLENMİŞ YAZILAR -->
{% if pinned_sorted.size > 0 %}
<section class="blog-container">
  <h1>📌 <a href="/blog/pinned/">Sabitlenmiş Yazılar</a></h1>
  <div class="blog-grid">
    {% for post in pinned_sorted limit: limit %}
      <article class="blog-card">
        <a href="{{ post.url }}" class="card-link">
          <h2 class="card-title">{{ post.title }}</h2>
        </a>
        <p class="card-desc">{{ post.description }}</p>
        <div class="card-meta">
          <span class="meta-item">📅 {{ post.date | date: "%d %B %Y" }}</span>
          {% if post.author %}
          <span class="meta-item">✍️ {{ post.author }}</span>
          {% endif %}
        <!-- Okuma süresi -->
        <div class="menu-item">
        <span>
          ⏱️ {{ post.content | number_of_words | divided_by: 200 | plus: 1 }} dk okuma
        </span>
        </div>
          {% if post.categories %}
          <span class="meta-item">📂 
            {% for category in post.categories %}
              <a href="/blog/categories/#category-{{ category | slugify }}">{{ category }}{% unless forloop.last %}, {% endunless %}</a>
            {% endfor %}
          </span>
          {% endif %}<!--
          {% if post.post_level %}
          <span class="meta-item">⭐ Lvl {{ post.post_level }}</span>
          {% endif %}-->
        </div>
        {% if post.tags %}
        <div class="card-tags">
          {% for tag in post.tags %}
            <a href="/blog/tags/#tag-{{ tag | slugify }}" class="tag"><i class="bi bi-tags"></i> {{ tag }}</a>
          {% endfor %}
        </div>
        {% endif %}
      </article>
    {% endfor %}
  </div>
</section>
{% endif %}
